.note {
    border: 1px solid grey;
    padding: 2rem;
    font-size: 2rem;
    color: #333;
    height: 5rem;
    border-radius: 0.5rem;
    background-color: burlywood;
    margin-top: 1rem;
}
.high {
    background-color: coral;
    color: white;
}
.medium {
    background-color: rgb(72, 21, 2);
}
.low {
    background-color: rgb(222, 225, 43);
}